@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 15px;
}

.site-nav {
  padding: 77px 0px 103px;
}

.site-menu {
  text-decoration: none;
  color: #626262;
}

a:hover,
a:focus {
  color: #35baf5;
}

.site-li {
  display: inline-block;
  margin-left: 107px;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 14px;
}

.text1 {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 30px;
}

.text2 {
  font-family: "Ubuntu", sans-serif;
  color: #c2bcb0;
  font-weight: 100;
  font-size: 14px;
}

.site-paragraf {
  font-family: "Playfair Display", serif;
  color: #b6b6b6;
  font-size: 14px;
  margin: 0 auto;
}

/*site-section*/
.site-box {
  width: 420px;
  margin-right: 56px;
  padding: 0px;
  display: inline-block;
  font-size: right 0px;
}

.site-box:nth-child(2n) {
  margin-right: 0px;
}

.end-site {
  font-family: "Playfair Display", serif;
  width: 164px;
  height: 60px;
  font-size: 20px;
  color: #727272;
  border: 1px solid#92b4f5;
}
.stile-button {
  text-align: center;
  margin-top: 57px;
}
