.container {
    width: 901px;
    margin: 0 auto;
}

/* site navigation */

.site-navigation {
    margin: 0;
    padding: 0;
    font-size: 14px;
}


.site-navigation li {
    display: inline-block;
    margin-left: 129px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: turquoise;
}


.page-nav {
    padding: 77px 0px 103px;
}


/*site-section*/
.site-section {
    width: 421px;
    margin-right: 55px;
    padding: 0px;
    display: inline-block;
}

.site-section:nth-child(2n) {
    margin-right: 0px
}

button {
    margin: 133px 394px 51px 394px;
    font-size: 20px;
}